<!DOCTYPE html>
<html lang="en">
    <head>
        <title>StockAnalysisApp API Homepage</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Required for Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-4">
                    <h2>About this API</h2>
                    <p>This API is used as part of a project that stores historical stock data into InfluxDB with Django as the backend framework. You can learn more about the responses of the API on the right (the box brackets indicate variables when closed on the same line), and the link to the GitHub repository of the project is below:</p>
                    <a class="nav-link" href="https://github.com/wentao-yang/StockAnalysisApplication">Link to GitHub Repo</a>
                    <hr class="d-sm-none">
                </div>
                <div class="col-sm-8">
                    <h2>GET Historical Prices for a Stock</h2>
                    <h5>URL: /api/symbol=[stock ticker symbol]</h5>
                    <p>{
                        <br>&nbsp &nbsp 'symbol': [stock ticker symbol]
                        <br>&nbsp &nbsp 'data': 
                        <br>&nbsp &nbsp &nbsp &nbsp {
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp [time]: [stock price]
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp ...
                        <br>&nbsp &nbsp &nbsp &nbsp }
                        <br>}
                    </p>
                    <br>
                    <h2>GET All Stock Ticker Symbols in Database</h2>
                    <h5>URL: /api/symbols</h5>
                    <p>{
                        <br>&nbsp &nbsp 'names': 
                        <br>&nbsp &nbsp &nbsp &nbsp [
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp [stock ticker symbol]
                        <br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp ...
                        <br>&nbsp &nbsp &nbsp &nbsp ]
                        <br>}
                    </p>
                    <br>
                    <p>Note: this API only works if the InfluxDB database is activated and properly set up.</p>
                </div>
            </div>
        </div>
    </body>
</html>
